.container {
    max-width: 1300px;
    margin: auto;
}
.posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.post {
    border: 1px solid #ccc;
    padding: 15px;
}